.errorMessage{
    margin-top: 2em;
    color: grey;
    text-transform: capitalize;
}
.loginButton{
    font-size: 1.2em;
    margin: 1em 0;
    padding: 5px 10px;
    border: none;
    background-color: var(--sky-blue);
    border-radius: 5px;
    color: var(--dark-grey);
    cursor: pointer;
}
.loginButton:active{
    background-color: rgb(209, 189, 209);
}