.postLikesDislikesCommentsNumbers{
    display: flex;
    justify-content: space-between;
    padding: 0.5em 0;
    column-gap: 1em;
}
.likesIcon{
    background-color: rgb(41, 135, 208);
    padding: 2px 5px 5px 5px;
    border-radius: 20px;
    z-index: 3;
    color: white;
}
.likesIcon > i{
    font-size: 0.9em;
}
.dislikesIcon{
    background-color: rgb(206, 82, 82);
    padding: 3px 5px 4px 5px;
    border-radius: 20px;
    z-index: 3;
    color: white;
}
.dislikesIcon > i{
    font-size: 0.9em;
}
#unlikeButton{
    color: rgb(32, 113, 119);
    font-weight: bold;
}

.FirstRow{
    border-top: 1px solid var(--light-grey);
    border-bottom: 1px solid var(--light-grey);
    display: flex;
    justify-content: space-evenly;
    padding: 8px 0;
}
.activityButton{
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    border: none;
    color: var(--dark-grey);
    background-color: var(--white);
}
.activityButton:active{
    /* color: rgb(39, 161, 206); */
    background-color: rgb(67, 209, 183);
}
.activityButton:disabled{
    visibility: hidden;
}
.secondRow{
    display: flex;
    padding: 8px 0px;
    padding-bottom: 0;
    align-items: center;
}
.userImage{
    border-radius: 50%;
    height: 2.5em;
    width: 2.7em;
}
.commentForm{
    width: 100%;
}
.enterCommentField{
    margin:4px 4px;
    border-radius: 50px;
    width: 98%;
    border: none;
    background-color: var(--light-grey);
    padding: 9px 8px;
}