.post{
    margin-bottom: 1.5em ;
    border-radius: 10px;
    background-color: var(--white);
    padding: 1em;
}
.postMessageBox{
    color: var(--dark-grey);
    margin: 0.8em 0;
}
.postMessage{
    text-align: left;
    text-transform: capitalize;
}