.singleComment{
    border-radius: 10px;
    margin-top: 0.8em;
    border-bottom: 1px solid var(--light-grey);
    background-color: var(--light-grey);
}
.header{
    display: flex;
    padding: 5px 5px;
    justify-content: space-between;
    text-align: left;
    align-items: center;
}
.leftItems{
    display: flex;
}
.rightItems{
    height: max-content;
    width: max-content;
    
}
.commentRemoveIcon{
    background-color: grey;
    padding: 4px 6px;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}
.commentRemoveIcon:active{
    color: black;
    background-color: white;
}
.ownerImageLink{
    border-radius: 20px;
    height: 2em;
}
.nameAndTime{
    display: flex;
    flex-direction: column;
    margin: 2px 5px;
    justify-content: space-between;
}
.ownerName{
    color: rgb(33, 30, 30);
    font-size: 0.9em;
}
.commentTime{
    font-size: 0.6em;
    color: var(--dark-grey);
}
/* .commentRemoveIcon{
    position: relative;
    right: 0;
} */
.message{
    text-align: left;
    margin-left: 3.3em;
    font-size: 0.8em;
    text-transform: capitalize;
    padding-bottom: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif
}